@mixin scientific-cells{
    border: solid grey;
    text-align: center;
    
}

html{
    height: 100%;
    width:100%;
    margin: 0%;
    body{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "his main sci";
        height: 100%;
        width: 100%;
        margin: 0%;

        #history{
            display: none;
            flex-direction: column;
            grid-area: his;
            background-color: rgb(214, 209, 209);

            #headline{
                border-bottom: 5px solid grey;
                display: flex;
                width: 100%;
                height: 8.5%;
                align-items: center;
                justify-content: space-around;
                
            }
        }

        #main{
            grid-area: main;
            background-color: grey;
            display: grid;
            grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
            grid-template-rows: repeat(3, 0.5fr)  repeat(4, 1fr) 0.3fr;
            border: solid grey;
            
            button{
                background-color: rgb(206, 228, 248);
                border: solid grey;
            }

            .left-side{
                grid-column: 1/2;
                grid-row: 1/-1;
                display: grid;
                grid-template-rows: repeat(3, 0.5fr) repeat(4, 1fr) 0.3fr;
                
                .mode{
                    &:hover{
                        background-color: rgb(212, 212, 212);
                        font-weight: bold;
                    } 
                }
                button{
                    border-radius: 6%;
                    
                    img{
                        width:40%;
                        height: 50%;
                    }
                   
                }

                #endL{
                    grid-row: 7/-1;
                }

                
            }

            .view{
                grid-column: 2/5;
                grid-row: 1/4;
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                
                #C-button{
                    &:hover{
                        background-color: rgb(212, 212, 212);
                        font-weight: bold;
                    }
                }

                div{
                    background-color: rgb(206, 228, 248);
                    border: solid grey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                }

                #screen{
                    background-color: rgb(244, 244, 244);
                    border-color: black;
                    
                }
            }

            .main-buttons{
                grid-column: 2/5;
                grid-row: 4/-1;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows:  repeat(4, 1fr) 0.3fr;

                .number-buttons{
                    background-color: rgb(234, 234, 234);
                    color: black;
                    font-weight: bold;
                    border-radius: 6%;
                    

                    &:hover{
                        background-color: rgb(212, 212, 212);
                        
                    }

                    &:active{
                        font-family: none;
                        
                    }
                }

                #empty{
                    grid-column: 1/-1;
                 }

                #±{
                    background-color: rgb(206, 228, 248);
                    &:hover{
                        background-color: rgb(212, 212, 212);
                        
                    }

                    &:active{
                        font-family: none;
                    }
                }

            }

            .right-side{
                grid-column: 5/-1;
                grid-row: 1/-1;
                display: grid;
                grid-template-rows: repeat(3, 0.5fr) repeat(4, 1fr) 0.3fr;
                
                button{
                    border-radius: 6%;

                    &:hover{
                        background-color: rgb(212, 212, 212);
                        font-weight: bold;
                    }

                    img{
                        width: 40%;
                        height: 50%;
                    }
                }

                #endR{
                    grid-row: 7/-1;
                }
            }

            

        }

        #scientific{
            display: none;
            border: solid grey;
            grid-area: sci;
            background-color: rgb(209, 242, 198);
            grid-template-rows: repeat(3, 0.5fr)  repeat(4, 1fr) 0.3fr;
            
            #headlinesci{
                grid-column: 1/3;
                grid-row: 1/2;
                @include scientific-cells()

            }
            #emptysci{
                grid-column: 1/3;
                grid-row: 2/4;
                @include scientific-cells()
            }
            #power{
                grid-column: 1/2;
                grid-row: 4/5;
                @include scientific-cells()

            }
            #squer{
                grid-column: 2/3;
                grid-row: 4/5;
                @include scientific-cells()
            }
            #xpower{
                grid-column: 1/2;
                grid-row: 5/6;
                @include scientific-cells()
            }
            #xsquer{
                grid-column: 2/3;
                grid-row: 5/6;
                @include scientific-cells()
            }
            #mod{
                grid-column: 1/2;
                grid-row: 6/7;
                @include scientific-cells()
            }
            #pie{
                grid-column: 2/3;
                grid-row: 6/7;
                @include scientific-cells()
            }
            #base{
                grid-column: 1/3;
                grid-row: 7/9;
                @include scientific-cells()
            }
        }
    }
}



body.darker{
            #history{
                background-color: rgb(209, 212, 214);
            }
    
            #main{
                background-color: rgb(2, 50, 77);
                border: solid rgb(2, 50, 77);
                color: white;
                button{
                    background-color: rgb(21, 81, 115);
                    border: solid rgb(2, 50, 77);
                }
                
                .left-side{
                    color: white;
                    .mode{

                        &:hover{
                            background-color: rgb(78, 92, 169);
                            font-weight: bold;
                        } 
                    }
                }
    
                .view{
                    color: white;
                    #C-button{
                        color: white;
                        &:hover{
                            background-color: rgb(78, 92, 169);
                            font-weight: bold;
                        }
                    }
    
                    div{
                        background-color: rgb(21, 81, 115);
                        border: solid rgb(2, 50, 77);
                    }
    
                    #screen{
                        background-color: rgb(30, 17, 44);
                        border-color: black;
                        
                    }
                }
    
                .main-buttons{
                    
                    .number-buttons{
                        background-color: rgb(58, 111, 142);
                        color: black;
                        color: white;
    
                        &:hover{
                            background-color: rgb(78, 92, 169);
                            
                        }
                    }

                    #±{
                        background-color: rgb(21, 81, 115);
                        color: white;
                        &:hover{
                            background-color: rgb(78, 92, 169);
                            
                        }

                    }
    
                }
    
                .right-side{

                    button{
                        color: white;
                        &:hover{
                            background-color: rgb(78, 92, 169);
                            font-weight: bold;
                        }
                    }
                }

            }
    
            #scientific{
                grid-area: sci;
                background-color: rgb(250, 173, 173);
            }
}

body.dark{
        // just screen changes
        #main{
            .view{
                #screen{
                    background-color: yellow;
                }
            }
        }
}


@media screen and (max-width: 1000px){
    html{
        margin: 0%;

        body{
            margin: 0%;
            height: 100%;
            display:grid;
            grid-template-columns: none;
            grid-template-rows: 3fr 1fr 1fr;
            grid-template-areas: "main"
                                "sci"
                                "histo";

            #history{
                grid-area: histo;
            }

            #main{
                grid-area: main;
            }

            #scientific{
                grid-area: sci;
                
            }

        }
    }
}


