html{
    height: 100%;
    
    body{
        display: flex;
        flex-direction: row;
        height: 100%;
        

        #history{
            order: 1;
        }

        #main{
            order: 2;
        }

        #scientific{
            order: 3;
        }
    }
}